<div class="title_box">
<h3><%= @plan.title %></h3>
<div class="date">
    <%= @plan.start_date %>~<%= @plan.end_date %>
</div>
</div>

<div class="plan">
    <%= form_for @plan_detail_form, url: "/plans/#{@plan.id}/plan_details/create" do |f| %>
        <div class="nested-fields">
            <%= f.fields_for :plan_details do |t| %>
                <div class="nested-field_<%= t.index %>">
                    <%= t.time_field :start_time %>~<%#= f.time_field :end_time %>
                    <%= t.text_field :destination %>
                    <%= t.hidden_field :plan_id, value: @plan.id %>
                </div>
            <% end %>
        </div>

        <a href="javascript:void(0);" class="plan_add_btn" data-plan_count="">追加</a>

        <%= f.submit "予定の登録" %>
    <% end %>
</div>
    

<script type="text/javascript">
let default_plan_count = "<%= Form::PlanDetailCollection::FORM_COUNT %>";

$(".plan_add_btn").data("plan_count", default_plan_count);

$('.plan_add_btn').click(function() {
    let current_plan_count = $(this).data("plan_count");

    let target_area = '.nested-field_'+(current_plan_count - 1);
    let plan_html = `
        <div class="nested-field_${current_plan_count}">
            <input type="time" name="form_plan_detail_collection[plan_details_attributes][${current_plan_count}][start_time]" id="form_plan_detail_collection_plan_details_attributes_${current_plan_count}_start_time">~
            <input type="text" name="form_plan_detail_collection[plan_details_attributes][${current_plan_count}][destination]" id="form_plan_detail_collection_plan_details_attributes_${current_plan_count}_destination">
            <input value="<%= @plan.id %>" autocomplete="off" type="hidden" name="form_plan_detail_collection[plan_details_attributes][${current_plan_count}][plan_id]" id="form_plan_detail_collection_plan_details_attributes_${current_plan_count}_plan_id">
        </div>
    `;

    $(".nested-fields").append(plan_html);

    $(this).data("plan_count", (Number(current_plan_count) + 1))
});
</script>