<h1>新規投稿</h1>

<%= form_with model: @plan, url:'/plans/create' do |plan|%>
    <h3>行先</h3>
    <%= plan.text_field :title %>
    <h3>日程</h3>
    <%= plan.date_field :start_date %>
    <p>~</p>
    <%= plan.date_field :end_date %>
    <%= plan.text_field :memo %>
    <%= plan.submit %>
<% end %>