<div class="plan_outline">
    <h2><%= @plan.title %></h2>
    <h3><%= @plan.start_date %></h3><p>~</p><h3><%= @plan.end_date %></h3>
    <p><%= @plan.memo %></p>
</div>


<div class="container">
    <% @plan_detail.each do |f| %>
    <div class="container_left">
        <div class="spot_time">
        <% if f.start_time!=nil%><%= f.start_time.strftime("%H:%M") %><%end%><p>~</p><% if f.end_time!=nil%><%= f.end_time.strftime("%H:%M") %><%end%></div>
        </div>
    <div class="container_right">
        <h2><% if f.destination!=nil%><%= f.destination %><%end%></h2>
    </div>
    <% end %>
</div>